# src/main/resources/application-prod.yml
spring:
  jpa:
    properties:
      hibernate:
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true
  
  datasource:
    hikari:
      connection-timeout: 30000
      max-lifetime: 1800000
      idle-timeout: 600000

logging:
  level:
    root: WARN
    com.zcrom.inventory: INFO
    org.springframework: WARN